 <div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">About Me</h1> 
                <p class="text-center sub-heading">The Introspection </p>  
            <div class="row">   
                <div class="col-md-6 col-12 hero-text ">  
                 <figure>
                     <img src="images/ambi.jpeg" width="400" height="400" alt="herosection_image"> 
                 </figure>
                 </div>
               
                {{!-- right side --}}
                 <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">
                 <h1>CODE BUILD DEPLOY ENJOY ✌️</h1>
                <p>Hello Myself<span class="bold-style"> Ambikesh Mishra </span>
                 , A 2nd year ECE(Electronics and Communication Engineering) Student at IIIT Surat. Basically after a late 
                 start in Programming World I started to code in my first semester of college. After learning C/Cpp I started
                 to solve Competetive Programming Problems to increase my logical skills in various platforms like Hackerearth,
                 Codechef which literally boosted my confidence in Logical Programming. In web development side , I have learned 
                 HTML, CSS, JAVASCRIPT, MONGODB, EXPRESS JS, NODE JS and in process to make many insightful projects from these in future.
                As a part of clubs like E-CELL IIITS , GDSC(Google Developers Student Club) IIITS, ACM NIT SURAT, it provides me a lot of 
                 exposure to the network of Top Developers ,entrepreneur minds, coders of the institute. In cultural society I am a part of CHRD SVNIT and SARAS IIITS
                 which maintains the active human inside and adds value to the extra-curriculars.
                </p>
                <button class="btn-style btn-primary">It's Ok</button>
                </div>
                
            </div>
            </div>
        </div>
    </div>